/*----------HEADER/GLOBAL/FOOTER-----------*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
}

header {
    background-color: #262626;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    font-size: clamp(1.2rem, 1.3vw, 2rem);
}

header .logo img {
    width: clamp(70px, 5vw, 140px);
    border-radius: 100%;
    transition: transform 0.3s;
}

header .logo img:hover {
    transform: scale(1.09);
}

header nav ul {
    list-style: none;
    margin-right: 40px;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .3s;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #ff9800;
    transition: .3s all;
}

header .company-name h1 {
    margin: 0;
    font-size: clamp(1.5rem, 1.8vw, 2rem);
    color: #ff9800;
}

main {
    font-family: "Old Standard TT", serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

main section {
    margin-bottom: 40px;
}

main section h1, h2 {
    font-size: 2rem;
    color: #ff9800;
}

main section h2 {
    font-size: 1.5rem;
    color: #ff9800;
}

footer {
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}

/*--------------------ABOUT-------------------*/
.about__head {
    margin-bottom: 70px;
}

.about__inner {
    display: flex;
    justify-content: space-around;
}

.firstpart {
    max-width: 40%;
}

.about__text {
    text-align: left;
}

.about__list {
    max-width: 1000px;
    padding-left: 20px;
}

.about__img-block h2 {
    margin-top: 33px;
    margin-bottom: 70px;
}

.about__image {
    max-width: 400px;
    border-radius: 7px;
    transition: transform 0.4s ease;

}

.about__image:hover {
    transform: scale(1.03);
    border: 2px solid rgb(255, 0, 0);
}

/*------------SERVICES----------------*/

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section#pricing .pricing__heading {
    text-align: center;
}

section#pricing .pricing__heading h1 {
    text-align: center;
}

section#pricing .prices {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

section#pricing .prices caption {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: left;
}

section#pricing .prices th,
section#pricing .prices td {
    padding: 10px;
    text-align: left;
    border: 1px solid #444;
}

section#pricing .prices th {
    background-color: #333;
    color: #ff9800;
}

section#pricing .prices td {
    background-color: #262626;
}

section#pricing .contact-info p {
    margin-top: 20px;
    color: #e0e0e0;
}

section#pricing .contact-info a {
    color: #ff9800;
    text-decoration: none;
    font-weight: bold;
}

section#pricing .contact-info a:hover {
    text-decoration: underline;
}

.serveses__dopinfo {
    margin-bottom: 10px;
    text-align: center;
}

.second__info {
    margin-bottom: 60px;
}

.caption {
    color: white;
}

/*--------------------------------NEWS------------------------------------------------------------*/

.news__title {
    text-align: center;
}

.news__subtitle {
    text-align: center;
}

.news__text {
    margin: 0 auto;
    margin-bottom: 80px;
}

.news__tel {
    color: #ff9800;
}

/*---------------MEMBERSHIP---------*/

.membership__heading {
    text-align: center;
    margin-bottom: 40px;
}

/*---------------HOWTO--------------*/

.howto__header {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 30px;
}

.howto__list {
    padding-bottom: 30px;
}

.howto__list-item {
    list-style-type: disc;
}

/*---------------CONTACT--------------*/

.contact__box {
    background-color: #333;
    width: 75vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    border-radius: 10px;
    transition: 1.5s;
    max-width: 100%;
}

.contact__box-map {
    width: 50%;
}

.contact__box-map iframe {
    width: 100%;
    height: 100%;
}

.contact__heading {
    text-align: center;
}

.shedule {
    border: #ff9900 2px solid;
}

.contact__box-info {
    width: 50%;
    text-align: center;
    padding: 40px;
    margin: 0 auto;
}

.contact__box-info a {
    color: #ff9800;
    transition: all .3s;
}

.contact__box-info a:hover {
    color: #965a00;
}

.contact__huntplace-heading {
    text-align: center;
}

.contact__huntplace-map {
    border: #ff9800 ridge 3px;
}

/*----------------MEDIA----------------*/
@media (min-width: 1000px) {
    table {
        max-width: 700px;
        /* Максимальная ширина таблицы */
        width: 100%;
        /* Таблица будет занимать всю доступную ширину до 500px */
        table-layout: fixed;
        /* Зафиксированное расположение колонок */
        margin: 0 auto;
    }

    .contact__box:hover {
        border-radius: 40px;
        transition: 1.5s;
    }
}

@media (max-width: 800px) {
    header .container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    header nav ul {
        margin-top: 10px;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }

    .about__inner {
        display: block;
    }

    .about__head {
        text-align: center;
    }

    .firstpart {
        max-width: 100%;
    }

    .about__text {
        text-align: left;
    }

    .about__img-block h2 {
        text-align: center;
    }

    .about__image {
        max-width: 99%;
    }

    section#pricing .prices th, section#pricing .prices td {
        font-size: 0.9em;
    }

    section#pricing .contact-info p {
        font-size: 0.9em;
    }

    .contact__box {
        flex-direction: column-reverse;
        width: 75vw;
        height: auto;
        justify-content: space-between;
    }

    .contact__box-map {
        width: 100%;
        height: 70vh;
    }

    .contact__box-info {
        padding: 0;
        width: 100%;
    }

}

@media (max-width: 400px) {
    table {
        max-width: 300px;
        /* Максимальная ширина таблицы */
        width: 100%;
        /* Таблица будет занимать всю доступную ширину до 500px */
        table-layout: fixed;
        /* Зафиксированное расположение колонок */
        margin: 0 auto;
    }
}