html, body {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}

body::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1c1c1c;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: clamp(1rem, 1.7vw, 1.5rem);
}

header {
    background-color: #262626;
    color: #fff;
    padding: 5px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1400px;
    width: 100%;
    padding: 0 20px;
    font-size: clamp(1.2rem, 1.3vw, 2rem);
}

header .logo img {
    width: clamp(70px, 5vw, 140px);
    border-radius: 100%;
    transition: transform 0.3s;
}

header .logo img:hover {
    transform: scale(1.09);
}

header nav ul {
    list-style: none;
    margin-right: 40px;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    transition: all .3s;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #ff9800;
    transition: .3s all;
}

header .company-name h1 {
    margin: 0;
    font-size: clamp(1.5rem, 1.8vw, 2rem);
    color: #ff9800;
}

main {
    font-family: "Old Standard TT", serif;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    flex: 1;
}

main section {
    margin-bottom: 40px;
}

main section h1, h2 {
    font-size: 2rem;
    color: #ff9800;
}

main section h2 {
    font-size: 1.5rem;
    color: #ff9800;
}

footer {
    background-color: #262626;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer p {
    margin: 0;
}


#topBtnn {
    display: none; /* Скрыть кнопку по умолчанию */
    position: fixed; /* Зафиксировать кнопку на экране */
    bottom: 30px; /* Расположить кнопку 30px от нижнего края экрана */
    right: 15px; /* Расположить кнопку 15px от правого края экрана */
    z-index: 99; /* Сделать так, чтобы кнопка была поверх других элементов */
    border: none; /* Убрать рамку */
    border-radius: 50%; /* Сделать кнопку круглой */
    outline: none; /* Убрать обводку */
    background: linear-gradient(145deg, #444, #222); /* Градиентный фон */
    color: #ff9800; /* Цвет текста */
    cursor: pointer; /* Курсор указателя при наведении */
    font-size: 24px; /* Размер шрифта */
    width: 60px; /* Фиксированная ширина */
    height: 60px; /* Фиксированная высота */
    transition: all 0.3s ease; /* Плавный переход */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.2); /* Тень */
}

#topBtnn:hover {
    background: linear-gradient(145deg, #555, #333); /* Градиентный фон при наведении */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 10px 10px rgba(0, 0, 0, 0.2); /* Тень при наведении */
    transform: translateY(-5px); /* Поднятие кнопки при наведении */
}

.hidden {
    display: none !important;
}

/* Стили галереи */
.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    /* Изменил максимальную ширину галереи */
    padding: 0 20px;
    /* Добавил отступы для лучшего отображения */
}

.gall__heading {
    padding-top: 40px;
    text-align: center;
}

.gall__heading-h {
    font-size: 38px;
}

.gallery__card {
    display: flex;
    width: 100%;
    /* Изменил ширину карточки для адаптивности */
    max-width: 300px;
    /* Добавил максимальную ширину для карточки */
    margin: 10px;
    /* Изменил отступы для лучшего визуального отделения */
    box-sizing: border-box;
    /* Учел внутренние отступы в ширине */
}
.gallery__card-vid {
    display: flex;
    width: 100%;
    /* Изменил ширину карточки для адаптивности */
    max-width: 300px;
    /* Добавил максимальную ширину для карточки */
    margin: 10px;
    /* Изменил отступы для лучшего визуального отделения */
    box-sizing: border-box;
    /* Учел внутренние отступы в ширине */
}

.gallery__img {
    width: 100%;
    height: auto;
}
.gallery__vid {
    width: 100%;
    /* Изменил ширину изображения для адаптивности */
    height: auto;
    /* Автоматическая высота для сохранения пропорций */
}

.gallery__card:hover .gallery__img {
    transform: scale(1.05);
    /* Незначительно увеличил масштаб при наведении */
}


/* Popup + slider styles */
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.89);
    padding: 0 10px;
}

.slider__container {
    display: flex
}

.slider__container img {
    animation: anim .5s ease
}


/* Button styles */
.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    display: inline-block;
    padding: 12px 40px;
    margin: 10px 20px;
    border-radius: 30px;
    background-image: linear-gradient(45deg, #000000 0%, #000000 50%, #ffffff 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
    color: white;
    box-shadow: 0 16px 32px 0 rgba(255, 255, 255, 0.35);
    transition: .5s;
    cursor: pointer;
}

.slider__btn:hover {
    box-shadow: 0 0 0 0 rgb(255, 157, 0);
    background-position: 0 0;
}

.slider__btn-left {
    left: 25px
}

.slider__btn-right {
    right: 25px
}


@keyframes anim {
    0% {
        border-radius: 0;
        transform: scale(0)
    }

    50% {
        border-radius: 10%;
        transform: scale(1.2)
    }

    100% {
        border-radius: 0;
        transform: scale(1)
    }
}

.slider__container img {
    animation: slideAnimation 0.5s ease;
}
.slider__container img {
    transition: transform 0.3s ease;
}


@keyframes slideAnimation {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@media screen and (max-width: 1270px) {

    .slider__btn {
        top: 90%;
        transform: translateY(-90%);
    }
    .slider__btn-close {
        padding: 5px 10px;
        bottom: 85%;
        left: 80%;
    }
    
}

@media screen and (max-width: 641px) {
    .slider__btn-close {
        right: 45%;
        top: 20%;
        padding: 10px 15px;
        transform: translateY(-15%);
        transform: translateX(-50%);
    }
}

@media (max-width: 800px) {
    header .container {
        flex-direction: column;
        align-items: center;
        padding: 0 10px;
    }

    header nav ul {
        margin-top: 10px;
        margin-right: 0;
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 10px;
    }
    .slider__btn {
        display: none;
    }

    #topBtnn {
        /* Дополнительные стили для мобильных устройств */
        bottom: 20px;
        right: 20px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        padding: 15px;
    }
}
.slider__btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 24px;
    z-index: 1;
}

.slider__btn-left {
    left: 10px;
}

.slider__btn-right {
    right: 10px;
}

.slider__btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    font-size: 24px;
    z-index: 1;
}

.slider__btn:hover,
.slider__btn-close:hover {
    color: #ff9800;
}

/* Анимация */
@keyframes anim {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
